@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/open-sans/OpenSans-Regular.ttf') format('truetype'),
       url('/fonts/open-sans/OpenSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/open-sans/OpenSans-Bold.ttf') format('truetype'),
       url('/fonts/open-sans/OpenSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/open-sans/OpenSans-Italic.ttf') format('truetype'),
       url('/fonts/open-sans/OpenSans-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/open-sans/OpenSans-BoldItalic.ttf') format('truetype'),
       url('/fonts/open-sans/OpenSans-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}
