
# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/


# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
.vscode/*

*.zip


# ignored hinetsync files
.hinetsync/sync.json
.hinetsync/setting.json
**/*.generated.ts
**/dto.d.ts
**/request.d.ts
src/types/hoSo/dto.d.ts
